$primary: #034078;
$secondary: #1282A2;
$enable-negative-margins: true;


@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "navbar.scss";
@import "category-show.scss";
@import "jsCalendar.scss";


