<div{{ attributes }} class="calendar-bloc border mt-5 ms-3">
	<div class="calendar-wrapper">
		<header>
			<p class="current-date"></p>
			<div class="icons">
				<span id="previous-month" class"material-symbols-rounded"><i class="bi bi-caret-left"></i></span>
				<span id="next-month" class"material-symbols-rounded"><i class="bi bi-caret-right"></i></span>
			</div>
		</header>
		<div class="calendar">
			<ul class="weeks">
				<li>Lun</li>
				<li>Mar</li>
				<li>Mer</li>
				<li>Jeu</li>
				<li>Ven</li>
				<li>Sam</li>
				<li>Dim</li>
			<ul class="days">
			</ul>
		</div>
	</div>
</div>
